.cards {
    margin-top: 120px;
}

.cards img {
    width: 50px;
    height: auto;
}

.card {
    padding: 44px 27px 20px 27px;
    margin-bottom: 20px;
    /* height: 233px; */
    background: #FFFFFF;
    box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
}

.card h1 {
    margin-top: 14px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #121212;
}

.card p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}