.header {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/header/header.svg');
    background-size: cover;
    background-repeat: no-repeat;
}



.header-text {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 45%;
}

.header-text h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.header-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.header-btn {
    margin-top: 24px;
    width: 107px;;
}


@media (max-width: 1024px) {
    .header{
        height: 60vh;
    }
    .header-text {
        width: 60%;
    }
    .header h1{
        font-size: 40px;
    }
    .me-auto {
        z-index: 1;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .header-text {
        width: 65%;
    }
    .header-text p{
        font-size: 12px;
    }
}